%%% -*- mode: erlang -*-

%% Require OTP version R16, 17, or 18
{require_otp_vsn, "R16|17|18"}.

%% Depends
{deps_dir, "../"}.
{deps, [%% {lager, ".*"},
        {thrift, "1.0.*"}
       ]}.

%% Erlang compiler options
{erl_opts, [debug_info,
            warnings_as_errors,
            %% {parse_transform, lager_transform}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
